{% extends 'blog/base.html' %}

{%block content%}
{% load static%}
<div class='container'>
    <h2 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Mobile Wallet Services:</h2>
    <p style='font-size: 150%;color:rgb(105, 103, 103)'>To bank online, you’ll need to use your computer or an app on your mobile device. Getting started can be tricky if you’re not comfortable with technology, but everything gets easier once you’re set up.
    There are many online banking services which have technologies that make it very easy to make transactions. These services ask you to link your bank account so that you can use this service to pay for any other service from your bank account without even needing to go the bank! Some of the most popular online banking services, also know as E-wallets:</p>
    
    
    <div class="gallery">
        <a href="https://www.paypal.com/in/home">
          <img src="{% static 'images/paypal.jpg'%}" alt="YouTube" width="600" height="400">
        </a>
        <div class="desc">PayPal</div>
      </div>
      
      <div class="gallery">
          <a  href="https://www.bhimupi.org.in/">
          <img src="{% static 'images/bhim.png'%}" alt="Google Maps" width="600" height="400">
        </a>
        <div class="desc">BHIM app</div>
      </div>
      
      <div class="gallery">
          <a href="https://pay.google.com/">
          <img src="{% static 'images/gpay.png'%}" alt="whatsapp" width="600" height="400">
        </a>
        <div class="desc">Google Pay</div>
      </div>
      
      <div class="gallery">
          <a  href="https://www.phonepe.com/">
          <img src="{% static 'images/phonepe.png'%}" alt="news" width="600" height="400">
        </a>
        <div class="desc">PhonePe app</div>
      </div>
    
      <div class="gallery">
          <a href="https://paytm.com/">
          <img src="{% static 'images/paytm.jpg'%}" alt="Gnetbank" width="600" height="400">
        </a>
        <div class="desc">Paytm</div>
      </div>
    
      
      <div class="gallery">
          <a  href="https://www.sbiyono.sbi/">
          <img src="{% static 'images/sbi.png'%}" alt="ecommerce" width="600" height="400">
        </a>
        <div class="desc">YONO SBI</div>

        <br>
      </div>
      <br>
      <br><br>
      
    </div>
    <div class="container">
        <h2 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Open accounts:</h2>
    <p style='font-size: 150%;color:rgb(105, 103, 103)'>You can open checking, savings, and other accounts online, without the need to print or sign anything. In the past, you had to sit with a personal banker during business hours and fend off numerous sales pitches. With electronic signature capability, the entire process might take less than ten minutes.</p>

    <h2 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Pay bills:</h2>
    <p style='font-size: 150%;color:rgb(105, 103, 103)'>Instead of writing checks to pay bills, your bank can print and mail a check for you — month after month. It’s also possible to transfer money to your payee electronically, even if the amount you owe changes every month.</p>

    <h2 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Transfer funds:</h2>
    <p style='font-size: 150%;color:rgb(105, 103, 103)'>Need to move money from your checking account to your savings account? How about putting extra cash into a certificate of deposit (CD) or opening a brand-new CD? You don’t need to visit a branch or wait on hold to get those things done. You can even link bank accounts at different banks and zap money back and forth.</p>

    <h2 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Apply for loans:</h2>
    <p style='font-size: 150%;color:rgb(105, 103, 103)'>Loans are a “paperwork” intensive process. But they don’t have to be. Type in your information, which will speed the process of checking your credit, and your bank will get back to you with an answer. Some lenders operate entirely online, and they can make almost-instant lending decisions.</p>

    <h2 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Get good rates:</h2>
    <p style='font-size: 150%;color:rgb(105, 103, 103)'>Online banks are known for competitive rates. In theory, you should be able to earn more in online savings accounts and pay lower interest rates on loans. It’s always a good idea to shop around and compare online banking rates to traditional rates, but you’ll almost always do better online. Some brick-and-mortar banks offer online-only options. To use those accounts, you’ll have to give up your paper statements (which you might prefer anyway) and the ability to bank with a teller.</p>

    <h2 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Deposit checks:</h2>
    <p style='font-size: 150%;color:rgb(105, 103, 103)'>When somebody pays you with a check, there are several ways to deposit it. The fastest and easiest option is to use remote check deposit: Snap a photo of the check and submit it to your bank for payment. There’s no need to visit a branch or mail the check in. For more details, learn how to deposit checks with your mobile device.</p>

    <h2 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Stay informed:</h2>
    <p style='font-size: 150%;color:rgb(105, 103, 103)'>In addition to manually checking your account online, you can use “old-fashioned” text messages to manage your account, check balances, and more. Sometimes it feels like too much work to open an app and log in just to find out how much you have available. Find out exactly what types of services are available and how you benefit from texting with your bank.</p>

    <h2 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">View history: </h2>
    <p style='font-size: 150%;color:rgb(105, 103, 103)'>Need to see if that check cleared, or how much your employer paid you? It's easy to view transactions online, download historical statements, and search for specific events.</p>

    <p style='font-size: 150%;color:rgb(105, 103, 103)'>Check out some safety precautions to be followed while using mobile wallet services!</p>
    

    
    
    
    <iframe src="https://due.com/blog/safer-mobile-payments/" height="600px" width='800px'></iframe>
    </div>

    
</div>

{% endblock %}