{% extends 'blog/base.html' %}

{%block content%}
{% load static%}
<div class='container'>
    <h2 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Online Shopping:</h2>
    <p style='font-size: 150%;color:rgb(105, 103, 103)'>It's easier than ever to shop for groceris or any other item now than ever before!
    All you have to do is go to an E-commerce technology and order the item that you want!</p>
    
    
    <h4 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Step 1:</h4>
    <br><p style='font-size: 150%;color:rgb(105, 103, 103)'>Search for a product using Google shopping</p>
    <p style='font-size: 130%;'>Type the name of the item you want to buy into the search box of a search engine such as Google – for example, ‘Roberts radio’ – and click Search or press enter on your keyboard.

        You will see a range of websites, from actual department stores such as John Lewis to large websites simply devoted to shopping, such as Amazon. You can also use the Shopping option on Google itself. Clicking on this will give you items available based on product reviews and price. You can also ask only for results available in shops near to you by clicking on 'Available nearby'.</p>

    <img src="{%static 'images/shop1.jpg'%}" alt='chrome' height="50%" style='border:5px solid blueviolet'>
    <br>
    <h4 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Step 2:</h4>
    <br><p style='font-size: 150%;color:rgb(105, 103, 103)'>Find an item you like using Google shopping</p>
    <p style='font-size: 130%;'>If you click on one of the suggested items you will see product details as well as details of the sellers available. Do bear in mind that these are sponsored by the merchants and there may be other sellers available in your area or online.</p>
    <img src="{%static 'images/shop2.png'%}" alt='search' style='border:5px solid blueviolet'>
    <br>
    <h4 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Step 3:</h4>
    <br><p style='font-size: 150%;color:rgb(105, 103, 103)'>Search via Google</p>
    <p style='font-size: 130%;'>If you’ve searched for a particular brand, you may also see the brand’s own website or other websites like Flipkart and Amazon. Choose one of these websites and click on the link.</p>
    <img src="{%static 'images/shop3.jpg'%}" alt='search' style='border:5px solid blueviolet'>


    <h4 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Step 4:</h4>
    <br><p style='font-size: 150%;color:rgb(105, 103, 103)'>Searching for and buying a product from a website</p>
    <p style='font-size: 130%;'>TA new page will open, taking you to the website. You can now narrow down your search by typing in more specific details such as a model name (for example “revival”) in the search box, which is usually at the top right of the screen.
    <img src="{%static 'images/shop4.jpg'%}" alt='chrome' height="50%" style='border:5px solid blueviolet'>
    <br>
    <h4 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Step 5:</h4>
    <br><p style='font-size: 150%;color:rgb(105, 103, 103)'>Adding a product to your basket</p>
    <p style='font-size: 130%;'>Many websites let you have a closer look at the product by hovering your mouse over the image. There are two boxes next to the image one to choose the quantity that you want to buy and one to choose the colour that you want.</p>
    <img src="{%static 'images/shop5.jpg'%}" alt='search' style='border:5px solid blueviolet'>
    <br>
    <h4 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Step 6:</h4>
    <br><p style='font-size: 150%;color:rgb(105, 103, 103)'>Checkout and pay</p>
    <p style='font-size: 130%;'>To pay for your item click on the Checkout button.

    </p>
    <img src="{%static 'images/shop6.jpg'%}" alt='search' style='border:5px solid blueviolet'>
</div>

{% endblock %}