{% extends 'blog/base.html' %}


{%block content%}
{% load static%}
<div class='container'>
        <h2 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Using YouTube!</h2>
        <p style='font-size: 150%;color:rgb(105, 103, 103)'>YouTube is one of the most popular websites on the internet! It is an online video sharing platform where anyone who has an account can put a video on to the site!
        You will find videos made by ordinary people just like you! You will also find quality videos from companies! All in all, youtube is a fun place!</p>

        <h4 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Step 1:</h4>
    <br><p style='font-size: 150%;color:rgb(105, 103, 103)'>Open the YouTube app!</p>
    <img src="{%static 'images/youtube0.jpg'%}" alt='chrome' size="80%" style='border:5px solid blueviolet'>
    <br>
    <h4 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Step 2:</h4>
    <br><p style='font-size: 150%;color:rgb(105, 103, 103)'>Search for videos!</p>
    <img src="{%static 'images/youtube1.jpg'%}" alt='search' style='border:5px solid blueviolet'>
    <br>
    <h4 style="color: blueviolet;font-family: Verdana, Geneva, Tahoma, sans-serif">Step 3:</h4>
    <br><p style='font-size: 150%;color:rgb(105, 103, 103)'>Click on the videos that you want to watch!</p>
    <img src="{%static 'images/youtube2.jpg'%}" alt='search' style='border:5px solid blueviolet'>


    <br><br><br>
    <p style='font-size: 150%;color:rgb(105, 103, 103)'>Beware of fake news on YouTube! Since ordinary people can make any sort of video and publish it to the site, you can find many people posting fake news for clicks on thei videos. Clicks on the 
    videos are a way to make money for the people who make these videos. The people who make these videos are called YouTubers! You can become a youtuber too once you learn to make an account!
Beware of youtubers that might put fake titles for their videos to gain easy clicks! This is known as clickbaiting!
Learn how to avoid a clickbait by looking at this article from PA business support!! </p>
<iframe src='https://www.pabusinesssupport.co.uk/how-to-avoid-clickbait/' height="600px" width='800px'></iframe><br><br><br>


<p style='font-size: 150%;color:rgb(105, 103, 103)'>You can also watch this video from YouTube to understand more about clickbait!</p>
<iframe width="1024" height="576" src="https://www.youtube.com/embed/b2wckStq4Qw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    





</div>

{% endblock %}